:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196F3;
	--white: #ffffff;
	--svg-color: #afb1b8;
	--animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {	
	background-color: var(--white);
	color: var(--primary-text-color);

	font-weight: 400;
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}


h1,
h2,
h3,
h4,
p {
	padding: 0px;
	margin: 0px;
}


.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}


.link {
	display: block;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.page-header {
	border-bottom: 1px solid #ECECEC;
	padding-top: 24px;
	padding-bottom: 25px;

}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
		padding-left: 15px;
		padding-right: 15px;

}

/*#212121 основной текст*/
/* #757575 вторичный текст*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.logo {
	margin-right: 93px;

	color: #000000;

	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.1;
	text-decoration: none;

	transition: color var(--animation);
}

.accent {
	font-family: Raleway, sans-serif;
	color: var(--accent-color);
}

.logo:hover,
.logo:focus {
	color: var(--accent-color);
}



/* site nav*/


.nav {
	display: flex;
	align-items: center;
	
}


.site-nav {
	display: flex;
		font-weight: 500;
			font-size: 14px;
			line-height: 1.1;
			letter-spacing: 0.02em;
}

.site-nav .link {
	display: block;
	color: var(--title-text-color);
	text-decoration: none;
	transition: color var(--animation);
}

.item:not(:last-child) {
	margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}




.auth-nav {
	display: flex;
	margin-left: auto;
}

.auth-nav-item:not(:last-child) {
	margin-right: 50px;
}

.auth-nav .tel-link:not(:last-child) {
	margin-right: 50px;
}

.contacts-svg {
	margin-right: 10px;
}

.contacts-data {
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--primary-text-color);
	fill: var(--svg-color);

	transition: color var(--animation),
	fill var(--animation);
}

.contacts-data:hover,
.contacts-data:focus {
	color: var(--accent-color);
	fill: var(--accent-color);
}


.current {
	display: block;
	position: relative;
}

.current::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	background: var(--accent-color);
	border-radius: 2px;
	left: 0;
	bottom: -32px;

}




/* button*/

.button {
	border: 1px solid transparent;
	border-radius: 4px;

	font-size: 16px;
	font-family: Roboto;
	text-decoration: none;
	cursor: pointer
}


.button.prime {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	padding: 10px 32px;
	min-width: 200px;

	color: var(--white);
	background-color: var(--accent-color);
	font-weight: 700;
	line-height: 1.8;
	letter-spacing: 0.06em;
	cursor: pointer;
}



.button.secondsry {

	padding: 6px 22px;
	height: 38px;

	color: var(--title-text-color);
	background-color: #F5F4FA;
	font-weight: 500;
	line-height: 1.62;
	cursor: pointer;

	transition: color var(--animation),
	background-color var(--animation),
	box-shadow var(--animation);
}

.button.secondsry:hover,
.button.secondsry:focus {
	background-color: var(--accent-color);
	color: var(--white);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* hero*/

.hero {
		max-width: 1600px;
		height: 600px;
	margin-left: auto;
	margin-right: auto;

	background-color: #2F303A;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-image: linear-gradient(
		rgba(47, 48, 58, 0.4),
		rgba(47, 48, 58, 0.4)
		),
		url('../IMG/giro/Img.jpg')
}


.hero-title {
	margin-bottom: 30px;
	color: var(--white);

	font-weight: 900;
	font-size: 44px;
	line-height: 136%;

	letter-spacing: 0.06em;
	text-transform: uppercase;

}

/*преимущество*/

.advantages-icon {
	width: 270px;
	height: 120px;

		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		background: #F5F4FA;
		border-radius: 4px;
}



.section-advantages {
	padding-top: 94px;
	padding-bottom: 94px;
	
}

.advantages {
	display: flex;
}

.advantages-item {
	width: 270px;
}

.advantages-item:not(:last-child) {
	margin-right: 30px;
}

.advantages-title {
	margin-bottom: 10px;
	color: var(--title-text-color);

	text-align: left;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}



.advantages-text {

	font-size: 14px;
	line-height: 1.7;
}

/*examples*/

.examples {
	padding-top: 0;
	padding-bottom: 94px;
}

.page-title {
		margin-bottom: 50px;

	color: var(--title-text-color);
		font-weight: 700;
		font-size: 36px;
		line-height: 1.16;
	text-align: center;

}

.examples-list {
	display: flex;

}



.examples-list .examples-img:not(:last-child) {
	margin-right: 30px;
}

.thumb {
	position: relative;
}


.examples-description {
	position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
	
		bottom: 0;
		width: 100%;
		height: 70px;
		background-color: rgba(47, 48, 58, 0.8);
}




.examples-description .text {
padding: 27px ;
	color: var(--white);
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-align: center;

		text-transform: uppercase;
}




/*comandos*/

.comandos {
	background: #F5F4FA;
	padding-top: 94px;
	padding-bottom : 94px;
}


.comandos-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

}

.comandos-box {
	flex-basis: calc(100% / 4 - 30);

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.comandos-content {
	padding: 30px 30px;
	border-radius: 0px 0px 4px 4px;
	background-color: var(--white);
	text-align: center;
}


.comandos-title {

	color: var(--title-text-color);
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
}

.comandos-text {

	font-size: 16px;
	line-height: 1.18;
	margin-bottom: 16px;
}


.social-network-list {
display: inline-flex;

}


.social-network-item {
padding: 0;
}
.social-network-item:not(:last-child) {
	margin-right: 10px;
}

.social-network-link {
	display: flex;
	
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		fill: var(--svg-color);

	transition: background-color var(--animation),
	fill var(--animation);
}

.social-network-link:hover,
.social-network-link:focus {
	fill: var(--white);
	background-color: var(--accent-color);
}


.social-network-svg {
	width: 20px;
	height: 20px;
}


/*client*/


.section-client {
	padding-top: 94px;
	padding-bottom: 94px;
}


.client-list {
	display: flex;
	justify-content: center;

	gap: 30px;
}

/* width="41" height="46.7"*/


.client-link {

	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--svg-color);
	border-radius: 4px;

fill: var(--svg-color);

transition: border var(--animation),
fill var(--animation);
}

.client-link:hover,
.client-link:focus {
	border: 1px solid var(--accent-color);
	fill: var(--accent-color);
}

.client-svg{
	width: 170px;
	height: 92px;
}







/*footer*/

.footer {
	background-color: #2F303A;
	padding-top: 60px;
	padding-bottom: 60px;
	
}

.address {
	display: inline-flex;
}



.footer-logo {
		display: block;
		margin-bottom: 20px;

	color: var(--white);
	font-family: Raleway,sans-serif;
	text-decoration: none;
	font-style: normal;

	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}


.footer-contacts.city {
	color: var(--white);
	
}



.footer-item {
	max-height: 21px;
	padding: 0;
	margin-bottom: 9px;
}

.footer-item.last {
margin-bottom: 0px;
}

.footer-contacts {

	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	transition: color var(--animation);
	
}

.footer-contacts:hover,
.footer-contacts:focus {
	color: var(--accent-color);
}



.join {
	display: inline-flex;
		flex-direction: column;
		margin-left: 70px;
;
}


.join-title {
	display: inline-flex;
	
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		color: var(--white);
}


.join-list {
	display: flex;
	gap: 10px;

}

.join-item {
	padding: 0px;
}

.join-link {
	text-align: center;
	padding: 12px;
	width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	transition: background-color var(--animation);
}

.join-link:hover,
.join-link:focus {
	background: var(--accent-color);
}

.join-svg {
	width: 20px;
	height: 20px;
	fill: var(--white);
}

/*mailing*/

.mailing {
	display: inline-flex;
		justify-content: center;
		align-items: center;
	margin-left: 93px;
}

.mailing-wrapper{
display: flex;
	justify-content: center;
	align-items: center;
}


.mailing-form{

}

.mailing-title{
	margin-bottom: 20px;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
		color: var(--white);
		text-align: left;
	
}

.mailing-input {
	height: 50px;
	width: 358px;
	padding-left: 16px;
	border-radius: 4px;
	margin-right: 12px;
	color: var(--white);
	background-color: transparent;
	box-shadow: 0px 4px 4px 0px #00000026;
	border: 1px solid #FFFFFF4D
}

.mailing-input::placeholder {
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.6);

}

.mailing-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border: 1px solid transparent;
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px 0px #00000026;
	border-radius: 4px;
	cursor: pointer;
	width: 200px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--white);
	transition: transform var(--animation);
}

.mailing-svg {
	margin-left: 10px;
}

/*porfolio*/

.section-filter{
	padding-top: 94px;
	padding-bottom: 94px;
}

.filter-list {

	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	gap: 8px;
}





/*.filter-item {
	flex-basis: calc(100%-30/4);
	margin-left: 8px;
}
*/


.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
/*
	margin-left: -30px;
	margin-top: -30px;*/

}

.cards-item {

flex-basis: calc((100% - 60px) / 3);
transition: box-shadow var(--animation),
transform var(--animation)

/*
margin-right: 30px;
margin-bottom: 30px;
width: 370px;
*/
}

.cards-item:hover .cards-content {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.cards-item:hover .overlay {
	transform: translateX(0);
}


.box {
	position: relative;
	overflow: hidden;
}


.overlay {
background: var(--accent-color);

	position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateY(100%);
		transition: transform var(--animation);
}


.overlay> p {
	margin: 0;
	padding: 63px 24px;

	font-weight: 400;
	font-size: 18px;
	line-height: 1.56;

		color: var(--white);
}




/*
.cards-item:nth-child(3n+3) {
	margin-right: 0;
}


.cards-item:nth-child(n+3) {
	margin-bottom: 0;
}

.cards-item:not( :nth-child(n+3)) {
	margin-bottom: 30;
}
*/




.cards-content {
	padding: 20px 24px;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}

/*

.overlay {
	position: relative;
}

.overlay::before {
	display: inline-block;
	content: ;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
}
*/



.cards-link {
	text-decoration: none;
	display: block;
}



.cards-title {

	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	
	text-align: left;
	letter-spacing: 0.06em;
	margin-bottom: 4px;

}

.text-portfolio {
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
	text-align: left;
}





.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	opacity: 1;
	transition: opacity var(--animation);
	background: rgba(0, 0, 0, 0.2);
}


.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;

}


.button-modal {
	position: absolute;
	top: 8px;
	right: 8px;

	display: block;
	background-color: var(--white);
	border: none;
	width: 30px;
	height: 30px;
	text-align: center;
	align-items: center;
	cursor: pointer;
	padding: 0;
}

.button-modal:hover,
.button-modal:focus {
	fill: var(--accent-color);
}


.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

		display: inline-flex;
		align-items: center;
		justify-content: center;

	min-width: 528px;
	min-height: 581px;

	background-color: var(--white);
	border-radius: 4px;
	box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
}



.form {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.form-act {
	font-size: 20px;
		font-weight: 700;
		line-height: 23px;
		text-align: center;
		margin-bottom: 12px;
		color: var(--title-text-color);



}
.form-field {
	display: inline-flex;
	position: relative;
}



.form-about {
	display: flex;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;



}
.form-input {

	padding-left: 42px;
	margin-bottom: 10px;
	height: 40px;
	width: 448px;
	border-radius: 4px;
	border: 1px solid #21212133;
	transition: border var(--animation);


}
.form-input:focus {
	outline: none;
	border: 1px solid var(--accent-color);

}

.form-svg {
position: absolute;
	top: 44%;
	left: 15px;
	
	transition: fill var(--animation);

}
.form-input:focus + .form-svg {
	fill: var(--accent-color);
}

.form-coment-textarea {
	margin-bottom: 20px;
	padding: 12px 16px;
	height: 120px;
	width: 448px;
	border-radius: 4px;
	border: 1px solid #21212133;
	resize: none
}

.form-coment-textarea:focus {
		outline: none;
		border: 1px solid var(--accent-color);
}
	
.form-coment-textarea::placeholder {
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
}
	
.check {
		margin-bottom: 20px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	
.form-check-label {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		color: var(--title-text-color);
	}
	
.form-check-input {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
}
	
		.checkbox-svg {
		display: inline-block;
		margin-right: 7px;
		height: 15px;
		width: 16px;
		border-radius: 4px;
		border: 2px solid var(--title-text-color);
		transition: var(--animation);
}
	
.form-check-input:checked ~ .checkbox-svg {
		background-color: var(--accent-color);
		border-color: var(--accent-color);
background-image: url('../IMG/icon\ check.svg');
		background-size: contain;
		background-origin: border-box;

}
	
	
		.check-link {
		display: inline-flex;
		color: hsla(207, 90%, 54%, 1);
	}
	
		.form-submit {
		height: 50px;
		width: 200px;
		border-radius: 4px;
		border: 1px solid transparent;
		background-color: rgba(33, 150, 243, 1);
		box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
			0px 1px 1px 0px rgba(0, 0, 0, 0.14),
			0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	transition: var(--animation);
	
	
		font-size: 16px;
		font-weight: 700;
		line-height: 1.18;
		letter-spacing: 0.06em;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		}




