/*============ AUTH ============= */
.auth {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-left: 93px;

}

.auth__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth__title {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: $White-color;
	text-align: left;

}

.auth__input {
	height: 50px;
	width: 358px;
	padding-left: 16px;
	border-radius: 4px;
	margin-right: 12px;
	color: $White-color;
	background-color: transparent;
	box-shadow: 0px 4px 4px 0px #00000026;
	border: 1px solid #FFFFFF4D
}

.auth__input::placeholder {
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.6);

}

.button--submit {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	height: 50px;
	background-color: $Accent;
	box-shadow: 0px 4px 4px 0px #00000026;
	min-width: 200px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: $White-color;
	transition: transform $animation;
}

.button__icon {
	margin-left: 10px;
}