/*=============  backdrop ===============*/
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity $animation;
	background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	visibility: visible;

}

.modal {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 40px;
	transform: translate(-50%, -50%);
	height: 581px;
	width: 528px;
	border-radius: 4px;
	background-color: $White-color;
	box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;

}

.button-modal {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border: 1px solid #0000001A;
	background-color: transparent;
	fill: #000000;
	text-align: center;
	align-items: center;
	cursor: pointer;
	border-radius: 50%;
	padding: 0;
	transition: fill $animation;

	&:hover,
	&:focus {
		fill: $Accent;
	}

}
