/* ============== BUTTON ============== */
.button{
	font-family: Roboto, sans-serif;
		font-style: normal;
		text-align: center;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid transparent;
&:hover,&:focus {
		background-color: $Accent;
		color: $White-color;
	}
}