/* =================== CARDS PORTFOLIO ================= */
.cards {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
}

.cards__item {
	overflow: hidden;
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
	margin-top: 30px;
	transition: box-shadow $animation;

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
			0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.cards__link {
	text-decoration: none;
	display: block;
}

.cards__thumb {
	position: relative;
	overflow: hidden;
}

.cards__overlay {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform $animation;
	background-color: $Accent;

	.cards__link:hover & {
		transform: translateY(0);

	}
}

.cards__alert {
	padding: 63px 24px;
	color: $White-color;
	font-size: 18px;
	line-height: 1.56;
}

.cards__content {
	padding: 20px 24px;
	border: 1px solid #EEEEEE;
}

.cards__title {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2.0;
	letter-spacing: 0.06em;
	color: $primary-text-color;
}

.cards__text {
	font-size: 16px;
	line-height: 1.87;
	color: $Secondary-text-color;
}
