/* ============= CONTACTS ============= */
.contacts__link{
text-decoration: none;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
font-weight: 500;
color: $Secondary-text-color;
&:hover, &:focus{
	color:$Accent;
	fill: $Accent;
}
}