/*=============== FEATURES =============== */
.features__list {
	display: flex;
}

.features__title{
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.features__text{
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	color: $Secondary-text-color;
}

