.page-footer{
	background-color:#2F303A;
	padding-top: 60px;
	padding-bottom: 60px;
}

.page-footer__contacts {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}

.page-footer__logo {
	margin-bottom: 20px;
	color: $White-color;
}