/* =================SITE-NAV  ================= */
.site-nav__link {
text-decoration: none;
	color: $primary-text-color;
	transition: color $animation;
	&:hover,
	&:focus {
		color: $Accent;
}
}

.site-nav__link--current{
color: $Accent;
}