/* ==================== TEAM ====================  */
.team {
	background-color: #F5F4FA;
}

.team__title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.team__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}