/* ==================== TEAM ====================  */
.team {
	background-color: #F5F4FA;
}

.team__title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.team__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
}

.team__item {
	flex-basis: calc((100%)/4 - 30px);
	margin-left: 30px;
}

.team__content {
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: $White-color;
	text-align: center;
}

.team__names {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	color: $primary-text-color;
}

.team__text {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.18;
	color: $Secondary-text-color;
}