.work__title {
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.overlay__title{
	font-size: 14px;
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
		color: $White-color;
}