@mixin centredFlex ($type: flex) {
	display: flex;
	align-items: center;
	justify-content: center;
}



@mixin bordered($color, $type:solid) {
	border-top: 1px $type $color;
	border-bottom: 1px $type $color;
}